@tailwind base;
@tailwind components;
@tailwind utilities;

::selection, ::-moz-selection {
  background-color: rgba(246, 231, 96, 0.507);
}
.double {
  display: flex !important;
  align-items: center;
  height: 50px;
  gap: 0;
}
.double span {
  margin-bottom: -10px;
  height: 100%;
}
.double div {
  display: flex !important;
  height: auto;
  align-items: start;
  justify-content: left;
}
.menu ul .active {
  background-color: black;
}
.gradient-text {
  background: linear-gradient(180deg,#000000, #fff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-gradient {
  background: linear-gradient(180deg, #c6c304, #e6e03a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle-gradient {
  background: linear-gradient(180deg,#fff, #e0e0e0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eye-blue {
  color: #50d4d4 !important;
}
.eye-green {
  color: #439c57 !important;
}
.eye-brown {
  color: #644b2f !important
}

.music-player  {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .bottom {
    margin-top: auto;
    padding: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    background-color: #00000072;
    .artist {
      font-size: 24px;
      color: white;
      font-weight: bold;
      text-shadow: #000 1px 0 10px;
      margin: 0;
      padding: 0;
    }
    .artist-sub {
      font-size: 12px;
      color:#1db954;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }
}

.smiths {
  background-image: url('/music/smiths.webp');
}
.lana {
  background-image: url('/music/lana.webp');
}
.blur {
  background-image: url('/music/blur.webp');
  filter: none !important;
}
.taylor {
  background-image: url('/music/taylor.webp');
}
.louis {
  background-image: url('/music/louis.webp');
}
.oasis {
  background-image: url('/music/oasis.webp');
}
.gday {
  background-image: url('/music/gday.webp');
}
.maneskin {
  background-image: url('/music/maneskin.webp');
}
.wos {
  background-image: url('/music/wos.webp');
}
.cuarteto {
  background-image: url('/music/cuarteto.webp');
}
.charly {
  background-image: url('/music/charly.webp');
}
.spinetta {
  background-image: url('/music/spinetta.webp');
}
.fito {
  background-image: url('/music/fito.webp');
}
.frank {
  background-image: url('/music/frank.webp');
}
.piojos {
  background-image: url('/music/piojos.webp');
}